// BASIC FORMATTING
body {
	font-family: 'Rambla', sans-serif;
	background-color: $bkg_color;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 10px;
}

a {
	text-decoration: none;
}

// DIV CONTAINERS
.container {
	padding-top: 100px;
}

.headline {
	padding-top: 100px;
	text-align: center;
}

.share {
	margin: 0 auto;
	text-align: center;
}

// IMAGEs

img.ri {
  position: relative;
  max-width: 80%;
}

img.ri:empty {
}

// MOBILE SCREENS

@media screen and (max-width: 640px) {
	.headline {
		padding-top: 20px;
	}

	img.ri {
	  position: relative;
	  max-width: 60%;
	}
}

