---
import GlobalLayout from '../layouts/global-layout.astro';
---

<GlobalLayout title="About" description="About Matthew Loughnane">
    <h1>About</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
</GlobalLayout>
