---
import HeroHeader from '../components/hero-header.astro';
import GlobalLayout from '../layouts/global-layout.astro';
---

<!-- MAYBE LOOK TO ADD ASTROMAX -->
<!-- https://github.com/michael-andreuzza/astromax/tree/main -->

<GlobalLayout title='Home' description='From the life of Mat Loughnane, travel, food and code' >
    <HeroHeader />
    <div class="p-4">
        <h1 class="text-2xl">Mat Loughnane</h1>
        <a class="underline" href="/">Home</a>
        <a class="underline" href="/about">About</a>
    </div>
</GlobalLayout>
