---
import HeroHeader from '../components/home/hero-header.astro';
import LatestPosts from '../components/home/latest-posts.astro';
import GlobalLayout from '../layouts/global-layout.astro';
---

<GlobalLayout
    title="Home"
    description="Mat Loughnane, travel, food and code"
>
    <HeroHeader />
    <LatestPosts limit={7} />
    <div class="flex flex-row justify-end mx-18 my-8">
        <a class="btn" href="/posts">See All Posts</a>
    </div>
</GlobalLayout>
