---
import HeroHeader from '../components/home/hero-header.astro';
import LatestPosts from '../components/home/latest-posts.astro';
import GlobalLayout from '../layouts/global-layout.astro';
---

<GlobalLayout
    title="Mat Loughnane - Software Developer & Storyteller"
    description="Software developer with over a decade of experience building web and mobile apps. Sharing travel adventures, food discoveries, and coding insights from around the world."
>
    <HeroHeader />
    <LatestPosts limit={7} />
    <div class="flex flex-row justify-end mx-18 my-8">
        <a class="btn" href="/posts">See All Posts</a>
    </div>
</GlobalLayout>
