<footer class="border-white/20 border-b bg-primary">
    <div class="mx-auto p-8 items-start justify-between w-full">
        <div class="text-white text-center items-center mx-auto">
            <p class="uppercase font-black text-2xl">Mat Loughnane</p>
            <p class="mx-auto mt-3 text-sm">
                <a class="underline" href="https://matloughnane.com">
                    Matthew Loughnane
                </a>
            </p>
        </div>
    </div>
</footer>;
