---
import Footer from '../components/footer.astro';
import '../styles/global.css';
interface Props {
    title: string;
    description: string;
    publishDate?: string;
}
const { title, description, publishDate } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | Mat Loughnane</title>
    </head>
    <body class="bg-white">
        <slot />
        <Footer />
    </body>
</html>
